.tp__staged-input-view {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  overflow: auto;
  gap: var(--gap-small);

  &__row {
    display: flex;
    flex-flow: row;
    gap: var(--gap-small);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-micro) var(--padding-mini);
    background-color: var(--table-card-background-color);
    overflow: hidden;
    align-items: center;

    label {
      font-weight: bold;
      white-space: nowrap;
      vertical-align: middle;
      color: var(--modest-text-color);

      &:after {
        content: ":";
      }
    }
  }
}