.tp__input-form {

  &__body {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);

    display: flex;
    flex-flow: column;

    &__pages {
      display: flex;
      flex-flow: column;
      width: 100%;

      .tp__card {
        border: none;
      }
    }
  }
}