$form-width: 300px;

.tp__source-editor-form-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  left:100%;
  width: $form-width;
  z-index: 10;
  transition: all 0.4s ease;
  overflow: auto;

  .tp__card {
     background-color: var(--card-background-color);
  }
}

.tp__source-editor-form-wrapper.active {
  left: calc(100% - $form-width);
}

.tp__source-editor-form {

  &__body {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);

    display: flex;
    flex-flow: column;

    &__pages {
      display: flex;
      flex-flow: column;
      width: 100%;

      .tp__card {
        border: none;
      }
    }
  }
}