$form-width: 300px;

.tp__source-editor-form {
  position: absolute;
  height: 100%;
  top: 0;
  left:100%;
  width: $form-width;
  z-index: 10;
  transition: all 0.4s ease;
  overflow: auto;

  .tp__card {
     background-color: var(--card-background-color);
  }

  //.tp__form-field,
  //.tp__input {
  //    flex-flow: row;
  //    align-items: center;
  //}
}


.tp__source-editor-form.active {
  left: calc(100% - $form-width);
}