$block-width: 100px;
$block-header-height: 12px;
$block-content-height: 50px;
$port-size: 10px;

.tp__source-editor__block {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: transparent;
  border: none;
  min-width: $block-width;
  max-width: $block-width;
  width: $block-width;

  &-selected {
    filter: sepia(1);
  }

  &-header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: $block-header-height;
    max-height: $block-header-height;
    height: $block-header-height;

    &-actions {
      display: flex;
      flex-flow: row nowrap;
      height: 100%;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  &-handle {
    width: 50%;
    height: 100%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: $block-content-height;
    max-height: $block-content-height;
    height: $block-content-height;
    border: 1px solid var(--border-color);
    background-color: var(--card-background-color);
    border-radius: 6px;
    border-top-left-radius: 0 !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 0 var(--padding-small);
    box-sizing: border-box;

    &-body {
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  &-label {
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    text-align: center;
    pointer-events: none;
    align-content: center;
    overflow: hidden;
    white-space: nowrap
  }

  &-sub-label {
    font-size: 0.8rem;
    color: var(--modest-text-color);
    text-align: right;
    pointer-events: none;
    align-self: flex-end;
  }


  &-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--source-editor-delete-color);
  }

  &-port {
    position: absolute;
    width: $port-size;
    height: $port-size;
    border-radius: 50%;
    border: 1px solid var(--brick-port-border-color);
    cursor: crosshair;
    z-index: 2;

    &--left {
      left: -5px;
      background-color: var(--brick-port-background-color);
    }

    &--right {
      right: -5px;
      background-color: var(--brick-port-background-color);
    }

    &--valid {
      background-color: var(--brick-port-valid-background-color) !important;
    }

    &--invalid {
      background-color: var(--brick-port-invalid-background-color) !important;
    }
  }
}

.tp__source-editor__brick {
  &-InputXtream,
  &-InputM3u {
    border-color: var(--brick-input-border-color);
    background-color: var(--brick-input-background-color);
  }

  &-Target {
    border-color: var(--brick-target-border-color);
    background-color: var(--brick-target-background-color);
  }

  &-OutputM3u {
    border-color: var(--brick-output-m3u-border-color);
    background-color: var(--brick-output-m3u-background-color);
  }

  &-OutputXtream {
    border-color: var(--brick-output-xtream-border-color);
    background-color: var(--brick-output-xtream-background-color);
  }

  &-OutputHdHomeRun {
    border-color: var(--brick-output-hdhomerun-border-color);
    background-color: var(--brick-output-hdhomerun-background-color);
  }

  &-OutputStrm {
    border-color: var(--brick-output-strm-border-color);
    background-color: var(--brick-output-strm-background-color);
  }
}

@mixin brick-handle-gradient($bg-color, $border-color) {
  background: repeating-linear-gradient(
                  -55deg,
                  $bg-color,
                  $bg-color 10px,
                  $border-color 10px,
                  $border-color 20px
  );
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.tp__source-editor__block {
  &-InputXtream,
  &-InputM3u {
    .tp__source-editor__block-content {
      border-color: var(--brick-input-border-color);
      background-color: var(--brick-input-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-input-background-color),
                      var(--brick-input-border-color)
      );
    }

  }

  &-Target {
    .tp__source-editor__block-content {
      border-color: var(--brick-target-border-color);
      background-color: var(--brick-target-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-target-background-color),
                      var(--brick-target-border-color)
      );
    }

  }

  &-OutputM3u {
    .tp__source-editor__block-content {
      border-color: var(--brick-output-m3u-border-color);
      background-color: var(--brick-output-m3u-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-output-m3u-background-color),
                      var(--brick-output-m3u-border-color)
      );
    }

  }

  &-OutputXtream {
    .tp__source-editor__block-content {
      border-color: var(--brick-output-xtream-border-color);
      background-color: var(--brick-output-xtream-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-output-xtream-background-color),
                      var(--brick-output-xtream-border-color)
      );
    }
  }

  &-OutputHdHomeRun {
    .tp__source-editor__block-content {
      border-color: var(--brick-output-hdhomerun-border-color);
      background-color: var(--brick-output-hdhomerun-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-output-hdhomerun-background-color),
                      var(--brick-output-hdhomerun-border-color)
      );
    }
  }

  &-OutputStrm {
    .tp__source-editor__block-content {
      border-color: var(--brick-output-strm-border-color);
      background-color: var(--brick-output-strm-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-output-strm-background-color),
                      var(--brick-output-strm-border-color)
      );
    }
  }
}

.grabbed {
  .tp__source-editor__block {
    &-handle {
      cursor: grabbing;
    }
  }
}