$form-width: 480px;

.tp__source-editor-form-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  left: 100%;
  width: $form-width;
  z-index: 10;
  transition: all 0.4s ease;
  overflow: auto;

  .tp__card {
     background-color: var(--card-background-color);
  }
}

.tp__source-editor-form-wrapper.active {
  left: calc(100% - $form-width);
}

.tp__source-editor-form {

  padding: 0 var(--padding-micro);
  background-color: var(--card-background-color);

  &__body {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);

    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;

    &__pages {
      display: flex;
      flex-flow: column;
      width: 100%;

      .tp__card {
        border: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: row;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;
  }

  .tp__form-list__item {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap-small);
    align-items: center;

    &-toolbar {
      display: flex;
      flex-flow: row nowrap;
    }

    &-content{
      .inactive {
        text-decoration: line-through;
      }
    }
  }

  .tp__form-list__toolbar {
    margin-top: var(--margin-default);
  }

  &__sidebar {
    .tp__icon-button.active {
      background-color: var(--menu-item-hover-background-color);
      color: var(--menu-item-hover-color);
    }

    .tp__icon-button {
      .svg-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}