.tp__playlist-explorer {
  display: flex;
  flex-flow: column;
  gap: var(--gap-default);
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--card-background-color);
  color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-small);

  &__loading {
    transform: translateY(-10px);
  }

  &__header {
    display: flex;
    flex-flow: column;

    &-toolbar {
      display: flex;
      flex-flow: row;
      box-sizing: border-box;
      width: 100%;
      justify-content: space-between;

      .tp__icon-button {
        width: 2.5rem;
        height: 2.5rem;

        .svg-icon {
          height: 100%;
          width: 100%;
        }
      }

      &-search {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }

  &__body {
    display: flex;
    flex-flow: column;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;
  }

  &__group,
  &__categories {
    display: flex;
    flex-flow: row;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;

    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: var(--gap-default);
      box-sizing: border-box;
      overflow-y: auto;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    fill: var(--menu-icon-color);
    background-color: var(--text-button-background-color);
    color: var(--text-button-color);
    border: 1px solid var(--text-button-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-sizing: border-box;
    max-height: 3rem;
    min-height: 2.5rem;
    gap: var(--gap-default);
    padding: 0 var(--padding-default);
    overflow: hidden;
    text-overflow: ellipsis;

    .svg-icon {
      box-sizing: border-box;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    &-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
      max-height: 3rem;
      min-height: 2.5rem;
      gap: var(--gap-default);
      padding: 0 var(--padding-default);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--text-button-hover-background-color);
      color: var(--text-button-hover-color);
    }

    &-live:before {
      content: "L";
      background-color: var(--tag-live-background-color);
      border: 1px solid var(--tag-live-border-color);
    }

    &-video:before {
      content: "V";
      background-color: var(--tag-video-background-color);
      border: 1px solid var(--tag-video-border-color);
    }

    &-series:before {
      content: "S";
      background-color: var(--tag-series-background-color);
      border: 1px solid var(--tag-series-border-color);
    }

    &-live:before,
    &-video:before,
    &-series:before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
    }
  }

  &__channel {
    padding-left: var(--padding-micro);

    &-logo {
      box-sizing: border-box;
      max-height: 3rem;
      min-height: 2.5rem;
      aspect-ratio: 1 / 1;
    }
  }

}