$movie-card-height: 24rem;
$movie-card-width: 16rem;
$live-card-width: 17.5rem;
$episode-card-height: 13rem;
$episode-card-width: 18rem;
$series-backdrop-height: 300px;

@mixin card-base($height, $width) {
  position: relative;
  padding: 0;
  max-height: $height;
  min-height: $height;
  max-width: $width;
  min-width: $width;
}

@mixin channel-logo($height, $width, $border-radius) {
  .tp__playlist-explorer__channel-logo {
    box-sizing: border-box;
    overflow: hidden;
    height: $height;
    width: $width;

    img {
      height: $height;
      width: $width;
      box-sizing: border-box;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      border-radius: $border-radius;
    }
  }
}

.tp__playlist-explorer {
  display: flex;
  flex-flow: column;
  gap: var(--gap-default);
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--card-background-color);
  color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-small);

  &__loading {
    transform: translateY(-10px);
  }

  &__header {
    display: flex;
    flex-flow: column;

    &-toolbar {
      display: flex;
      flex-flow: row;
      box-sizing: border-box;
      width: 100%;
      justify-content: space-between;

      &-actions {
        display: flex;
        flex-flow: row;
        gap: var(--gap-default);
        align-items: center;

        .tp__icon-button {
          width: 2.5rem;
          height: 2.5rem;

          .svg-icon {
            height: 100%;
            width: 100%;
          }
        }
      }

      &-search {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }

  &__body {
    display: flex;
    flex-flow: column;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;
  }

  &__group,
  &__categories {
    display: flex;
    flex-flow: row;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;

    &-sidebar {
      .tp__icon-button.active {
        color: var(--tag-active-color);
        fill: currentColor;
      }
    }

    &-content {
      display: flex;
      flex-flow: row;
      width: 100%;
      gap: var(--gap-default);
      box-sizing: border-box;
      overflow-y: auto;
    }

    &-list {
      display: grid;
      gap: var(--gap-default);
      box-sizing: border-box;
      width: 100%;
      overflow: auto;

      &-live {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($live-card-width, 1fr));
        gap: var(--gap-default);
        box-sizing: border-box;
        width: 100%;
      }

      &-video,
      &-series {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($movie-card-width, 1fr));
        gap: var(--gap-default);
        box-sizing: border-box;
        width: 100%;
      }

      &-episodes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($episode-card-width, 1fr));
        gap: var(--gap-default);
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    fill: var(--menu-icon-color);
    background-color: var(--text-button-background-color);
    color: var(--text-button-color);
    border: 1px solid var(--text-button-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-sizing: border-box;
    gap: var(--gap-default);
    padding: 0 var(--padding-default);
    overflow: hidden;
    text-overflow: ellipsis;

    .svg-icon {
      box-sizing: border-box;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    &-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
      gap: var(--gap-default);
      padding: 0 var(--padding-default);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--text-button-hover-background-color);
      color: var(--text-button-hover-color);
    }

    &-live {
      max-height: 3rem;
      min-height: 3rem;
    }

    &-video,
    &-series {
      max-height: 3rem;
      min-height: 3rem;
    }

    &-live:before,
    &-video:before,
    &-series:before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
    }
  }

  &__series-info {
    display: flex;
    flex-flow: column;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;

    &__rating {
      color: var(--card-color) !important;
      background-color: rgb(from var(--card-background-color) r g b / 1) !important;
      font-weight: bold;
    }

    &__nowrap {
      white-space: nowrap;
    }

    &__body {
      display: flex;
      flex-flow: column;
      flex: 1 1 auto;
      gap: var(--gap-default);
      box-sizing: border-box;
      width: 100%;
      overflow: auto;

      .tp__playlist-explorer__group-list {
        overflow: unset;
      }

      &-top {
        display: flex;
        flex-flow: column;
        gap: var(--gap-default);
        min-height: $series-backdrop-height;
        background-repeat: no-repeat;
        background-size: 100%;
        //background-position: right top;
        border-radius: var(--border-radius);
        font-size: 1.2rem;
        box-sizing: border-box;

        &-content {
          display: flex;
          flex-flow: column;
          padding: var(--padding-default);
          gap: var(--gap-default);
          max-width: 60%;
          background-size: cover;
          background-position: center;
          font-size: 1.2rem;
        }
      }
    }

    &__title {
      font-weight: bold;
      font-size: 2.5rem;
      color: var(--series-info-title-color, white);
    }

    &__infos {
      display: flex;
      flex-flow: row;
      gap: var(--gap-larger);
    }

    &__season {
      color: var(--series-info-title-color, white);
      display: flex;
      flex-flow: column;
      gap: var(--gap-default);

      &-title {
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }

  &__channel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    fill: var(--menu-icon-color);
    background-color: var(--text-button-background-color);
    color: var(--text-button-color);
    border: 1px solid var(--text-button-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-sizing: border-box;
    gap: var(--gap-default);
    padding-left: var(--padding-micro);
    overflow: hidden;
    text-overflow: ellipsis;


    &-live {
      display: flex;
      flex-flow: row;
      box-sizing: border-box;
      position: relative;
      max-height: 4rem;
      min-height: 4rem;
      align-items: center;

      @include channel-logo(3rem, 3rem, var(--border-radius));

    }

    &-episode {
      @include card-base($episode-card-height, $episode-card-width);
    }

    &-series,
    &-video {
      @include card-base($movie-card-height, $movie-card-width);
    }

    &-episode,
    &-series,
    &-video {
      display: flex;
      flex-flow: column;
      box-sizing: border-box;

      @include channel-logo(100%, 100%, 0);

      &-rating {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        color: var(--card-color) !important;
        background-color: rgb(from var(--card-background-color) r g b / 1) !important;
        font-weight: bold;
      }

      &-info {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 3rem;
        width: 100%;
      }

      &-title {
        display: flex;
        flex-flow: row;
        align-items: center;
      }
    }
  }
}