# Ignore build artifacts
target/
bin/

# Ignore the entire docker directory...
docker/
# ...but make an exception for the essential debug entrypoint script
!docker/debug/debug-entrypoint.sh
# ...and cargo-chef manifests required during CI builds
!docker/build-tools/cargo-chef/**

# Ignore frontend dependencies
frontend/node_modules/
frontend/build/

frontend/dist
