# Ignore build artifacts
target/
bin/
debug/

# Ignore the entire docker directory...
docker/
# ...but make an exception for the essential debug entrypoint script
!docker/debug/debug-entrypoint.sh

# Ignore frontend dependencies
frontend/node_modules/
frontend/build/

frontend/dist

# Ignore CI cache artifacts exported between build steps
.ci-cache/