dist
/resources/*.ts
/release
/target
/frontend/build
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dev/

docker/binaries
.DS_Store

# Ignore documentation files
AGENTS.md
PLAN.md

*.m3u

.idea/
*.idea
*.iml

node_modules
yarn.lock
*.log

docker/web
docker/tuliprox
docker/resources

# Ignore VSCode settings and files
/.vscode

.claude
