$mobile-breakpoint: 780px;
$dashboard-mobile-breakpoint: 1280px;

$confirm-dialog-min-width: 300px;
$confirm-dialog-max-width: 500px;
$content-dialog-min-width: 400px;
$content-dialog-max-width: 800px;

$config-grid-cell-width: 400px;
$config-max-grid-cells: 3;
$config-field-min-width: 200px;

$form-grid-cell-width: 300px;
$form-field-min-width: 200px;
$form-max-grid-cells: 3;
$form-grid-cell-width-small-screen: 200px;
$form-field-min-width-small-screen: 160px;
$form-max-grid-cells-small-screen: 2;

$playlist-categories-grid-cell-width: 400px;

@mixin fixed-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}