@use './size';

:root {
  --mobile-size: size.$mobile-breakpoint;
  --dashboard-mobile-size: size.$dashboard-mobile-breakpoint;
  --sidebar-width-expaned: 270px;
  --sidebar-width-collapsed: 42px;
  --max-view-width: size.$dashboard-mobile-breakpoint;
  --max-table-cell-width: 240px;
  --max-dialog-card-height: 300px;
  --media-size-mobile: 600px;
  --app-header-height: 56px;
  --scrollbar-width: 8px;
  --scrollbar-border-radius: 4px;

  --gap-small: 0.3rem;
  --gap-default: 0.5rem;
  --gap-large: 1rem;
  --gap-larger: 1.5rem;

  --padding-micro: 0.2rem;
  --padding-mini: 0.5rem;
  --padding-small: 0.75rem;
  --padding-default: 1rem;
  --padding-large: 1.5rem;
  --padding-larger: 2rem;

  --margin-micro: 0.2rem;
  --margin-mini: 0.5rem;
  --margin-small: 0.75rem;
  --margin-default: 1rem;

  --epg-row-height: 4rem;
  --epg-header-height: 2rem;
  --epg-channels-width: 200px;

}

@media (max-width: size.$mobile-breakpoint) {
  :root {
    --gap-small: 0.2rem;
    --gap-default: 0.3rem;
    --gap-large: 0.5rem;
    --gap-larger: 0.75rem;

    --padding-micro: 0.2rem;
    --padding-mini: 0.3rem;
    --padding-small: 0.5rem;
    --padding-default: 0.75rem;
    --padding-large: 1rem;
    --padding-larger: 1.25rem;

    --margin-micro: 0.2rem;
    --margin-mini: 0.3rem;
    --margin-small: 0.5rem;
    --margin-default: 0.75rem;

    --epg-row-height: 3rem;
    --epg-header-height: 1.5rem;
    --epg-channels-width: 160px;
  }
}

:root {
  --primary-color: rgba(50, 130, 255, 0.65); /* Icy Blue */
  --secondary-color: rgba(240, 95, 95, 0.6); /* Soft Coral Red */

  --action-item-background-color: rgba(45, 70, 120, 0.35);
  --action-item-color: #ffffff;

  --text-color: #ffffff;
  --modest-text-color: #a7abb4;
  --background-color: #0a0b10;
  --floating-background-color: #071529;
  --border-color: rgba(60, 100, 195, 0.25);
  --input-background-color: rgba(255, 255, 255, 0);
  --input-border-color: var(--border-color);
  --input-focus-border-color: rgba(80, 150, 255, 0.8);
  --button-background-color: var(--primary-color);
  --menu-text-color: #e2e5ea;
  --menu-icon-color: #8a97b1;
  --menu-item-hover-background-color: rgba(45, 70, 120, 0.4);
  --menu-item-hover-color: #ffffff;
  --menu-text-active-color: var(--primary-color);
  --menu-item-active-background-color: rgba(45, 70, 120, 0.55);
  --icon-button-hover-color: #a8a8b3;
  --card-background-color: rgba(18, 22, 33, 0.55);
  --card-color: var(--modest-text-color);
  --sub-card-background-color: rgba(18, 22, 33, 0.8);

  --text-button-background-color: rgba(50, 80, 140, 0.3);
  --text-button-color: #ffffff;
  --text-button-border-color: rgba(80, 120, 200, 0.3);
  --text-button-hover-color: #ffffff;
  --text-button-hover-background-color: rgba(50, 80, 140, 0.5);
  --text-button-primary-background-color: var(--primary-color);
  --text-button-primary-color: #ffffff;
  --text-button-primary-hover-background-color: rgba(70, 150, 255, 0.8);
  --text-button-primary-hover-color: #ffffff;
  --text-button-primary-border-color: rgba(80, 150, 255, 0.8);
  --text-button-secondary-background-color: rgba(220, 70, 70, 0.25);
  --text-button-secondary-color: #ffffff;
  --text-button-secondary-hover-background-color: rgba(220, 70, 70, 0.55);
  --text-button-secondary-hover-color: #ffffff;
  --text-button-secondary-border-color: rgba(220, 70, 70, 0.5);

  --text-button-active-background-color: rgba(50, 180, 120, 0.6);
  --text-button-active-color: #fdfdfd;
  --text-button-active-hover-background-color: rgba(40, 150, 100, 0.75);
  --text-button-active-hover-color: #fdfdfd;
  --text-button-active-border-color: rgba(60, 200, 140, 0.8);

  --toggle-switch-on-background-color: rgba(60, 200, 140, 0.7);
  --toggle-switch-off-background-color: rgba(60, 60, 70, 0.9);
  --toggle-switch-toggle-color: #ffffff;

  --table-header-background-color: rgba(40, 50, 80, 0.55);
  --table-card-background-color: rgba(35, 35, 45, 0.55);
  --table-alternate-background-color: rgba(30, 30, 60, 0.55);

  --discord-color: #5865f2;
  --documentation-color: #2bbf5a;
  --github-color: #ffffff;

  --app-header-background-color: rgba(15, 18, 26, 0.85);
  --app-header-color: #73d6fe;

  --pulse-color-1: #868686;
  --pulse-color-2: #4c4c4c;

  --tag-padding: 0.3rem 0.5rem;
  --tag-border-radius: 0.5rem;
  --tag-border-color: #3a3a3a;
  --tag-color: #e0e0e0;
  --tag-background-color: #2b2e3688;

  --tag-active-color: #49dc7f;
  --tag-active-background-color: #1e2d2588;
  --tag-active-border-color: #2b6140;

  --tag-inactive-color: #6f6f6f;
  --tag-inactive-background-color: #3a3a3a88;
  --tag-inactive-border-color: #555;

  --tag-alt-active-color: #d070e7;
  --tag-alt-active-background-color: #311a3888;
  --tag-alt-active-border-color: #5d2f69;

  --tag-status-expired-color: #efda8f;
  --tag-status-expired-background-color: #39332088;
  --tag-status-expired-border-color: #b69e5c;

  --tag-status-banned-color: #dd7573;
  --tag-status-banned-background-color: #4c343488;
  --tag-status-banned-border-color: #755252;

  --tag-status-trial-color: #49dcdc;
  --tag-status-trial-background-color: #1e252d88;
  --tag-status-trial-border-color: #2b4c61;

  --tag-status-pending-color: #49dcdc;
  --tag-status-pending-background-color: #1e252d88;
  --tag-status-pending-border-color: #2b4c61;

  --popup-background-color: rgba(30, 34, 48, 0.7);
  --popup-shadow: 0 8px 24px rgba(0, 0, 0, 0.4),
  inset 0 0 10px rgba(255, 255, 255, 0.08);

  --popup-border-color: rgba(80, 100, 160, 0.25);
  --popup-color: #ffffff;

  --attention-color: #f57170;
  --warn-color: #e1b842;
  --active-color: #3ae093;

  --output-xtream-color: #06b6d4;
  --output-m3u-color: #10b981;
  --output-hdhomerun-color: #6366f1;
  --output-strm-color: #f43f5e;

  --tag-live-background-color: #075b4188;
  --tag-live-border-color: #10b981;
  --tag-video-background-color: #035b6e88;
  --tag-video-border-color: #06b6d4;
  --tag-series-background-color: #3c3f9f88;
  --tag-series-border-color: #6366f1;

  --toastr-success-color: #ffffff;
  --toastr-success-background-color: #3fa85a88;
  --toastr-error-color: #ffffff;
  --toastr-error-background-color: #c03a3488;
  --toastr-info-color: #ffffff;
  --toastr-info-background-color: #2b8ab388;
  --toastr-warning-color: #ffffff;
  --toastr-warning-background-color: #f6a30688;

  --hint-color: #888888;
  --label-color: #74c6ff;

  --sidebar-toggle-color: #ffffff;
  --sidebar-toggle-hover-color: #47495d;
  --playlist-color: #aeb0b2;
  --hover-border-color: rgba(100, 140, 255, 0.4);
  --spinner-color: rgba(255, 255, 255, 0.4);
  --spinner-highlight-color: #5599f0;

  --tree-count-color: #7b7b7e;
  --tree-hover-background-color: #004db488;
  --tree-hover-color: white;
  --tree-expander-hover-color: white;
  --tool-button-background-color: #43434388;
  --tool-button-color: #fff;
  --tool-button-hover-color: #ffffff;
  --tool-button-hover-background-color: #0c8a1388;

  --toolbar-background-color: #282A3688;
  --toolbar-button-hover-color: #ffffff;
  --toolbar-button-hover-background-color: #004db488;

  --ok-color: #21e821;

  --card-background-color-darker: rgba(22, 26, 36, 0.55);
  --card-border-color: rgba(80, 130, 255, 0.2);

  --title-label-color: #6495b1;

  --border-radius: 8px;

  --icon-button-border-radius: 4px;
  --icon-button-background-color: var(--button-background-color);
  --icon-button-color: #ffffff;
  --icon-button-hover-background-color: #0d6efd88;

  --icon-button-hover-border-color: #ced9fb;

  --menu-button-color: #ffffff;
  --menu-button-background-color: rgba(32, 39, 51, 0.25);

  --menu-button-hover-color: #ffffff;
  --menu-button-hover-background-color: rgba(32, 39, 51, 0.8);

  --menu-button-warn-hover-color: #dd7573;
  --menu-button-warn-hover-background-color: #4c3434;

  --scrollbar-track-color: #838383;
  --scrollbar-handle-color: #505050;

  --tabset-background-color: rgba(68, 71, 90, 0.3);
  --tabset-border-color: #535353;
  --tab-background-color: #44475A88;
  --tab-hover-background-color: #2bb24988;
  --tab-hover-color: #fdfdfd;
  --tab-active-background-color: #1a672c88;
  --tab-active-color: #fdfdfd;
  --tab-active-border-color: #35934d;

  --table-border-color: #44475a;

  --checkbox-background-color: #44475A88;
  --checkbox-hover-background-color: #006fee88;
  --checkbox-checked-background-color: #006fee88;
  --checkbox-border-radius: 4px;

  --option-active-background-color: #50FA7B88;
  --option-active-color: #000;

  --shocase-card-background: #4b4b4b;

  --breadcrumbs-background-color: #20273388;
  --breadcrumb-background-color: #4e545d88;
  --breadcrumb-color: #c4c4c4;
  --breadcrumb-active-background-color: #4ad96e88;
  --breadcrumb-active-color: #000;

  --menu-icon-color-update: #A3D8FF;
  --menu-icon-color-user: #0ABAB5;
  --menu-icon-color-api_server: #FF9D23;
  --menu-icon-color-main_config: #FF2DF1;
  --menu-icon-color-status: #F9E400;

  --code-identifier-color: #569cd6;
  --code-var-access-color: #9cdcfe;
  --code-field-color: #bb8953;
  --code-property-color: #9a652f;
  --code-literal-color: #65a181;
  --code-num-literal-color: #6796ba;
  --code-built-in-function-color: #fac46c;
  --code-reserved-color: #e98863;
  --code-regex-color: #bb8953;
  --code-enum-color: #65a181;
  --code-range-color: #6796ba;
  --code-op-color: #569cd6;
  --code-comparison-background-color: #20242988;
  --code-comparison-color: #ffffff;
  --code-bracket-1-color: #569CD6;
  --code-bracket-2-color: #C586C0;
  --code-bracket-3-color: #B5CEA8;
  --code-editor-background-color: #1e1e1e88;
  --code-editor-color: #d4d4d4;
  --code-any-match-color: #fa5f2d;
  --code-null-literal-color: #fa5f2d;

  --toolbar-bg-color: #161b25;

  --epg-program-background-color: #1a222b88;
  --epg-program-color: #ffffff;
  --epg-program-active-background-color: #26314088;
  --epg-program-active-color: #ffffff;
  --epg-program-time-color: #707f99;
  --epg-program-active-time-color: #778295;
}


body[data-theme="bright"] {
  --primary-color: rgba(50, 130, 255, 0.8); /* Icy Blue */
  --secondary-color: rgba(240, 95, 95, 0.8); /* Soft Coral Red */

  --action-item-background-color: rgba(200, 220, 255, 0.35);
  --action-item-color: #000000;

  --text-color: #0a0b10;
  --modest-text-color: #4a4f5a;
  --background-color: #fdfdfd;
  --border-color: rgba(50, 130, 255, 0.25);
  --input-background-color: rgba(255, 255, 255, 0.9);
  --input-border-color: var(--border-color);
  --input-focus-border-color: rgba(50, 130, 255, 0.8);
  --button-background-color: var(--primary-color);
  --menu-text-color: #1a1a1a;
  --menu-icon-color: #5a5f70;
  --menu-item-hover-background-color: rgba(200, 220, 255, 0.5);
  --menu-item-hover-color: #000000;
  --menu-text-active-color: var(--primary-color);
  --menu-item-active-background-color: rgba(200, 220, 255, 0.65);
  --icon-button-hover-color: #333333;
  --card-background-color: rgba(245, 245, 245, 0.8);
  --card-color: var(--modest-text-color);
  --sub-card-background-color: rgba(245, 245, 245, 0.95);

  --text-button-background-color: rgba(200, 220, 255, 0.3);
  --text-button-color: #000000;
  --text-button-border-color: rgba(80, 120, 200, 0.3);
  --text-button-hover-color: #000000;
  --text-button-hover-background-color: rgba(200, 220, 255, 0.5);
  --text-button-primary-background-color: var(--primary-color);
  --text-button-primary-color: #ffffff;
  --text-button-primary-hover-background-color: rgba(50, 130, 255, 0.9);
  --text-button-primary-hover-color: #ffffff;
  --text-button-primary-border-color: rgba(50, 130, 255, 0.8);
  --text-button-secondary-background-color: rgba(255, 180, 180, 0.25);
  --text-button-secondary-color: #000000;
  --text-button-secondary-hover-background-color: rgba(255, 180, 180, 0.55);
  --text-button-secondary-hover-color: #000000;
  --text-button-secondary-border-color: rgba(255, 180, 180, 0.5);

  --text-button-active-background-color: rgba(50, 220, 150, 0.6);
  --text-button-active-color: #000000;
  --text-button-active-hover-background-color: rgba(40, 200, 120, 0.75);
  --text-button-active-hover-color: #000000;
  --text-button-active-border-color: rgba(60, 240, 180, 0.8);

  --toggle-switch-on-background-color: rgba(60, 200, 140, 0.7);
  --toggle-switch-off-background-color: rgba(200, 200, 200, 0.9);
  --toggle-switch-toggle-color: #000000;

  --table-header-background-color: rgba(220, 230, 255, 0.55);
  --table-card-background-color: rgba(250, 250, 250, 0.55);
  --table-alternate-background-color: rgba(245, 245, 245, 0.55);

  --discord-color: #5865f2;
  --documentation-color: #2bbf5a;
  --github-color: #000000;

  --app-header-background-color: rgba(245, 245, 245, 0.85);
  --app-header-color: #0a0b10;

  --pulse-color-1: #cccccc;
  --pulse-color-2: #e0e0e0;

  --tag-padding: 0.3rem 0.5rem;
  --tag-border-radius: 0.5rem;
  --tag-border-color: #d0d0d0;
  --tag-color: #0a0b10;
  --tag-background-color: #e6e9f088;

  --tag-active-color: #04964f;
  --tag-active-background-color: #d3f0e488;
  --tag-active-border-color: #2b6140;

  --tag-inactive-color: #6f6f6f;
  --tag-inactive-background-color: #f0f0f088;
  --tag-inactive-border-color: #999;

  --tag-alt-active-color: #b84dd0;
  --tag-alt-active-background-color: #e9d5f088;
  --tag-alt-active-border-color: #5d2f69;

  --tag-status-expired-color: #997600;
  --tag-status-expired-background-color: #fff8e088;
  --tag-status-expired-border-color: #b69e5c;

  --tag-status-banned-color: #a00000;
  --tag-status-banned-background-color: #ffd6d688;
  --tag-status-banned-border-color: #755252;

  --tag-status-trial-color: #049494;
  --tag-status-trial-background-color: #d8f0f088;
  --tag-status-trial-border-color: #2b4c61;

  --tag-status-pending-color: #049494;
  --tag-status-pending-background-color: #d8f0f088;
  --tag-status-pending-border-color: #2b4c61;

  --popup-background-color: rgba(255, 255, 255, 0.50);
  --popup-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
  inset 0 0 10px rgba(0, 0, 0, 0.05);

  --popup-border-color: rgba(80, 130, 255, 0.25);
  --popup-color: #0a0b10;

  --attention-color: #d83838;
  --warn-color: #e1b842;
  --active-color: #3ae093;

  --output-xtream-color: #06b6d4;
  --output-m3u-color: #10b981;
  --output-hdhomerun-color: #6366f1;
  --output-strm-color: #f43f5e;

  --tag-live-background-color: #d0f0e488;
  --tag-live-border-color: #10b981;
  --tag-video-background-color: #b0f0ff88;
  --tag-video-border-color: #06b6d4;
  --tag-series-background-color: #c0c0ff88;
  --tag-series-border-color: #6366f1;

  --toastr-success-color: #000000;
  --toastr-success-background-color: #3fa85a88;
  --toastr-error-color: #000000;
  --toastr-error-background-color: #f7bebe88;
  --toastr-info-color: #000000;
  --toastr-info-background-color: #b0e0ff88;
  --toastr-warning-color: #000000;
  --toastr-warning-background-color: #fff3c088;

  --hint-color: #555555;
  --label-color: #0a0b10;

  --sidebar-toggle-color: #000000;
  --sidebar-toggle-hover-color: #c0c0c0;
  --playlist-color: #4a4f5a;
  --hover-border-color: rgba(50, 130, 255, 0.4);
  --spinner-color: rgba(0, 0, 0, 0.2);
  --spinner-highlight-color: #5599f0;

  --tree-count-color: #555555;
  --tree-hover-background-color: #d0f0ff88;
  --tree-hover-color: black;
  --tree-expander-hover-color: black;
  --tool-button-background-color: #e0e0e088;
  --tool-button-color: #000;
  --tool-button-hover-color: #000;
  --tool-button-hover-background-color: #0c8a1388;

  --toolbar-background-color: #f0f0f088;
  --toolbar-button-hover-color: #000000;
  --toolbar-button-hover-background-color: #d0f0ff88;

  --ok-color: #21e821;

  --card-background-color-darker: rgba(240, 240, 240, 0.55);
  --card-border-color: rgba(50, 130, 255, 0.2);

  --title-label-color: #1a1a1a;

  --border-radius: 8px;

  --icon-button-border-radius: 4px;
  --icon-button-background-color: var(--button-background-color);
  --icon-button-color: #000000;
  --icon-button-hover-background-color: #0d6efd88;

  --icon-button-hover-border-color: #9bb4f9;

  --menu-button-color: #000000;
  --menu-button-background-color: rgba(240, 240, 240, 0.25);

  --menu-button-hover-color: #000000;
  --menu-button-hover-background-color: rgba(240, 240, 240, 0.8);

  --menu-button-warn-hover-color: #a00000;
  --menu-button-warn-hover-background-color: #ffd6d6;

  --scrollbar-track-color: #cccccc;
  --scrollbar-handle-color: #999999;

  --tabset-background-color: rgba(200, 200, 200, 0.3);
  --tabset-border-color: #aaaaaa;
  --tab-background-color: #e0e0e088;
  --tab-hover-background-color: #90e09088;
  --tab-hover-color: #000000;
  --tab-active-background-color: #b0f0b088;
  --tab-active-color: #000000;
  --tab-active-border-color: #35934d;

  --table-border-color: #cccccc;

  --checkbox-background-color: #e0e0e088;
  --checkbox-hover-background-color: #006fee88;
  --checkbox-checked-background-color: #006fee88;
  --checkbox-border-radius: 4px;

  --option-active-background-color: #50FA7B88;
  --option-active-color: #000000;

  --shocase-card-background: #e0e0e0;

  --breadcrumbs-background-color: #f0f0f088;
  --breadcrumb-background-color: #e0e0e088;
  --breadcrumb-color: #1a1a1a;
  --breadcrumb-active-background-color: #90e09088;
  --breadcrumb-active-color: #000000;

  --menu-icon-color-update: #1a73e8;
  --menu-icon-color-user: #0a9b96;
  --menu-icon-color-api_server: #ff9d23;
  --menu-icon-color-main_config: #ff2df1;
  --menu-icon-color-status: #f9e400;

  --code-identifier-color: #0a66c2;
  --code-var-access-color: #1a73e8;
  --code-field-color: #b57b53;
  --code-property-color: #8b4d2f;
  --code-literal-color: #4b835f;
  --code-num-literal-color: #386f96;
  --code-built-in-function-color: #d69c4c;
  --code-reserved-color: #c36235;
  --code-regex-color: #b57b53;
  --code-enum-color: #4b835f;
  --code-range-color: #386f96;
  --code-op-color: #0a66c2;
  --code-comparison-background-color: #f5f5f588;
  --code-comparison-color: #0a0b10;
  --code-bracket-1-color: #0a66c2;
  --code-bracket-2-color: #a855f7;
  --code-bracket-3-color: #57a773;
  --code-editor-background-color: #ffffff88;
  --code-editor-color: #0a0b10;
  --code-any-match-color: #d9534f;
  --code-null-literal-color: #d9534f;

  --toolbar-bg-color: #f5f5f5;

  --epg-program-background-color: #ffffff88;
  --epg-program-color: #0a0b10;
  --epg-program-active-background-color: #d0e0ff88;
  --epg-program-active-color: #0a0b10;
  --epg-program-time-color: #707f99;
  --epg-program-active-time-color: #505770;
}