@use './size';

:root {
  --mobile-size: size.$mobile-breakpoint;
  --dashboard-mobile-size: size.$dashboard-mobile-breakpoint;
  --sidebar-width-expaned: 270px;
  --sidebar-width-collapsed: 42px;
  --max-view-width: size.$dashboard-mobile-breakpoint;
  --max-table-cell-width: 240px;
  --max-dialog-card-height: 300px;
  --media-size-mobile: 600px;
  --app-header-height: 56px;
  --scrollbar-width: 8px;
  --scrollbar-border-radius: 4px;

  --gap-small: 0.3rem;
  --gap-default: 0.5rem;
  --gap-large: 1rem;
  --gap-larger: 1.5rem;

  --padding-micro: 0.2rem;
  --padding-mini: 0.5rem;
  --padding-small: 0.75rem;
  --padding-default: 1rem;
  --padding-large: 1.5rem;
  --padding-larger: 2rem;

  --margin-micro: 0.2rem;
  --margin-mini: 0.5rem;
  --margin-small: 0.75rem;
  --margin-default: 1rem;
}

@media (max-width: size.$mobile-breakpoint) {
  :root {
    --gap-small: 0.2rem;
    --gap-default: 0.3rem;
    --gap-large: 0.5rem;
    --gap-larger: 0.75rem;

    --padding-micro: 0.2rem;
    --padding-mini: 0.3rem;
    --padding-small: 0.5rem;
    --padding-default: 0.75rem;
    --padding-large: 1rem;
    --padding-larger: 1.25rem;

    --margin-micro: 0.2rem;
    --margin-mini: 0.3rem;
    --margin-small: 0.5rem;
    --margin-default: 0.75rem;

  }
}

:root {
  --primary-color: #124a9b;
  --secondary-color: #f67070;

  --action-item-background-color: #242427;
  --action-item-color: #ffffff;

  --text-color: #ffffff;
  --modest-text-color: #A1A1AAFF;
  --background-color: #09090B;
  --input-background-color: var(--action-item-background-color);
  --input-border-color: #454548;
  --input-focus-border-color: #12499a;
  --input-autofill-background-color: #323a48;
  --button-background-color: var(--primary-color);
  --border-color: #222224;
  --menu-text-color: #e2e2e5;
  --menu-icon-color: #707079;
  --menu-item-hover-background-color: var(--action-item-background-color);
  --menu-item-hover-color: var(--action-item-color);
  --menu-text-active-color: var(--primary-color);
  --menu-item-active-background-color: var(--menu-item-hover-background-color);
  --icon-button-hover-color: #8f8f97;
  --card-background-color: #18181b;
  --card-color: var(--modest-text-color);
  --sub-card-background-color: #27272a;

  --text-button-background-color: var(--action-item-background-color);
  --text-button-color: #ffffff;
  --text-button-border-color: #2F2F31;
  --text-button-hover-color: #ffffff;
  --text-button-hover-background-color: #303032;
  --text-button-primary-background-color: var(--primary-color);
  --text-button-primary-color: #ffffff;
  --text-button-primary-hover-background-color: #2f68be;
  --text-button-primary-hover-color: #ffffff;
  --text-button-secondary-background-color: #e53d3d;
  --text-button-secondary-color: #ffffff;
  --text-button-secondary-hover-background-color: var(--secondary-color);
  --text-button-secondary-hover-color: #ffffff;
  --text-button-active-background-color: #1e2d25;
  --text-button-active-color: #49dc7f;
  --text-button-active-hover-background-color: #1e2d25;
  --text-button-active-hover-color: #49dc7f;

  --toggle-switch-on-background-color: #36c55a;
  --toggle-switch-off-background-color: #3f3f45;
  --toggle-switch-toggle-color: #fdfdfd;

  --table-header-background-color: #242427;
  --table-card-background-color: #242427;
  --table-alternate-background-color: #1b1b1e;

  --discord-color: #5764f0;
  --documentation-color: #2b944b;
  --github-color: #ffffff;

  --app-header-background-color: #18181b;
  --app-header-color: #73d6fe;

  --pulse-color-1: #837f80;
  --pulse-color-2: #545454;

  --tag-padding:  0.3rem 0.5rem;
  --tag-border-radius: 0.5rem;
  --tag-border-color: #3a3a3a;
  --tag-color:  #e0e0e0;
  --tag-background-color:  #2c2f36;

  --tag-active-color: #49dc7f;
  --tag-active-background-color: #1e2d25;
  --tag-active-border-color: #2b6140;

  --tag-inactive-color:  #6f6f6f;
  --tag-inactive-background-color:  #3a3a3a;
  --tag-inactive-border-color: #555;

  --tag-alt-active-color: #d070e7;
  --tag-alt-active-background-color: #311a38;
  --tag-alt-active-border-color: #5d2f69;

  --tag-status-expired-color: #efda8f;
  --tag-status-expired-background-color: #393320;
  --tag-status-expired-border-color: #b69e5c;

  --tag-status-banned-color: #dd7573;
  --tag-status-banned-background-color: #4c3434;
  --tag-status-banned-border-color: #755252;

  --tag-status-trial-color: #49dcdc;
  --tag-status-trial-background-color: #1e252d;
  --tag-status-trial-border-color: #2b4c61;

  --tag-status-pending-color: #49dcdc;
  --tag-status-pending-background-color: #1e252d;
  --tag-status-pending-border-color: #2b4c61;

  --popup-background-color: #313133; //#18181b;
  --popup-shadow: 0 3px 8px #06070a;
  --popup-border-color: #2f2f31;
  --popup-color: #fff;
  //--popup-hover-background-color: #5599f0;
  //--popup-hover-color: #fff;

  --attention-color: #f67070;
  --warn-color: #b88e22;
  --active-color: #34d399;

  --output-xtream-color: #06b6d4;
  --output-m3u-color: #10b981;
  --output-hdhomerun-color: #6366f1;
  --output-strm-color: #f43f5e;

  --tag-live-background-color: #075b41;
  --tag-live-border-color: #10b981;
  --tag-video-background-color: #035b6e;
  --tag-video-border-color: #06b6d4;
  --tag-series-background-color: #3c3f9f;
  --tag-series-border-color: #6366f1;

  --toastr-success-color: #ffffff;
  --toastr-success-background-color: #53a453;
  --toastr-error-color:  #ffffff;
  --toastr-error-background-color: #bc362f;
  --toastr-info-color: #ffffff;
  --toastr-info-background-color: #2f95b3;
  --toastr-warning-color: #ffffff;
  --toastr-warning-background-color: #f69306;

  --hint-color: #888888;
  --label-color: #73d6fe;

  --sidebar-toggle-color: #ffffff;
  --sidebar-toggle-hover-color: #47495d;
  --playlist-color: #aeb0b2;
  --hover-border-color: #aaaab0;
  --spinner-color: #ffffff66;
  --spinner-highlight-color: #5599f0;


  --tree-count-color: #7b7b7e;
  --tree-hover-background-color: #004db4;
  --tree-hover-color: white;
  --tree-expander-hover-color: white;
  --tool-button-background-color: #434343;
  --tool-button-color: #fff;
  --tool-button-hover-color: #ffffff;
  --tool-button-hover-background-color: #0c8a13;

  --toolbar-background-color: #282A36;
  --toolbar-button-hover-color: #ffffff;
  --toolbar-button-hover-background-color: #004db4;

  --ok-color: #21e821;

  --card-background-color-darker: #1c2026;
  --card-border-color: #47495d;

  --title-label-color: #6495b1;

  --border-radius: 8px;

  --icon-button-border-radius: 4px;
  --icon-button-background-color: var(--button-background-color);
  --icon-button-color: #ffffff;
  --icon-button-hover-background-color: #0d6efd;

  --icon-button-hover-border-color: #ced9fb;

  --menu-button-color: #ffffff;
  --menu-button-background-color: #20273344;

  --menu-button-hover-color: #ffffff;
  --menu-button-hover-background-color: #202733;

  --menu-button-warn-hover-color: #dd7573;
  --menu-button-warn-hover-background-color: #4c3434;

  --scrollbar-track-color: #838383;
  --scrollbar-handle-color: #505050;

  --tabset-background-color: #44475a47; // #282A36;
  --tabset-border-color: #535353;
  --tab-background-color: #44475A;
  --tab-color: #fff;
  --tab-hover-background-color: #6272A4;
  --tab-hover-color: #50FA7B;
  --tab-avtive-indicator-color: #50FA7B;
  --tab-active-background-color: #54547a;
  --tab-active-color: #50FA7B;

  --table-border-color: #44475a;

  --checkbox-background-color: #44475A;
  --checkbox-hover-background-color: #006fee;
  --checkbox-checked-background-color: #006fee;
  --checkbox-border-radius: 4px;

  --option-active-background-color: #50FA7B;
  --option-active-color: #000;

  --shocase-card-background: #4b4b4b;

  --breadcrumbs-background-color: #202733;
  --breadcrumb-background-color: #4e545d;
  --breadcrumb-color: #c4c4c4;
  --breadcrumb-active-background-color: #4ad96e;
  --breadcrumb-active-color: #000;

  --menu-icon-color-update: #A3D8FF;
  --menu-icon-color-user: #0ABAB5;
  --menu-icon-color-api_server: #FF9D23;
  --menu-icon-color-main_config: #FF2DF1;
  --menu-icon-color-status: #F9E400;

  --code-identifier-color: #569cd6;
  --code-var-access-color: #9cdcfe;
  --code-field-color: #bb8953;
  --code-property-color: #9a652f;
  --code-literal-color: #65a181;
  --code-num-literal-color: #6796ba;
  --code-built-in-function-color: #fac46c;
  --code-reserved-color: #e98863;
  --code-regex-color: #bb8953;
  --code-enum-color: #65a181;
  --code-range-color: #6796ba;
  --code-op-color: #569cd6;
  --code-comparison-background-color: #202429;
  --code-comparison-color: #ffffff;
  --code-bracket-1-color: #569CD6;
  --code-bracket-2-color: #C586C0;
  --code-bracket-3-color: #B5CEA8;
  --code-editor-background-color: #1e1e1e;
  --code-editor-color: #d4d4d4;
  --code-any-match-color: #fa5f2d;
  --code-null-literal-color: #fa5f2d;



  --toolbar-bg-color: #161b25;
}

body[data-theme="bright"] {

  --action-item-background-color: #e0e2e7;

  --text-color: #1a1a1a;
  --modest-text-color: #6b7280ff;
  --background-color: #f9fafb;
  --input-background-color: var(--action-item-background-color);
  --input-border-color: #cbd5e1;
  --input-focus-border-color: #2563eb;
  --input-autofill-background-color: #d1d5db;
  --button-background-color: #2563eb;
  --border-color: #d1d5db;
  --menu-text-color: #374151;
  --menu-icon-color: #9ca3af;
  --menu-item-hover-background-color: var(--action-item-background-color);
  --menu-text-active-color: #2563eb;
  --menu-item-active-background-color: var(--menu-item-hover-background-color);
  --icon-button-hover-color: #6b7280;
  --card-background-color: #ffffff;
  --card-color: var(--modest-text-color);

  --text-button-background-color: var(--action-item-background-color);
  --text-button-color: #1a1a1a;
  --text-button-border-color: #d1d5db;
  --text-button-hover-background-color: #e5e7eb;
  --text-button-primary-background-color: #2563eb;
  --text-button-primary-color: #ffffff;
  --text-button-primary-hover-background-color: #3b82f6;
  --text-button-primary-hover-color: #ffffff;

  --discord-color: #5865f2;
  --documentation-color: #22c55e;

  --app-header-background-color: #e0e7ff;
  --app-header-color: #2563eb;

}
