.tp__userlist-view {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  gap: var(--gap-default);

  .tp__userlist-list {
    &__header {
      flex-flow: row wrap;
      gap: var(--gap-default);

      &-toolbar {
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap-default);
        box-sizing: border-box;
      }
    }

    &__user {
      display: flex;
      flex-flow: column;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }
  }


}
