.tp__search {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  box-sizing: border-box;
  gap: 6px;
  .tp__search-wrapper {
    fill: var(--menu-icon-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: var(--padding-mini);
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    &:focus-within {
      border-color: var(--input-focus-border-color);
    }
    .svg-icon {
      height: 2rem;
      width: 2rem;
    }

    .option-active {
      background-color: var(--tag-active-background-color);
      color: var(--tag-active-color);
      fill: var(--tag-active-color);
    }
    .option-invalid {
      background-color: var(--tag-status-banned-background-color);
      color: var(--tag-status-banned-color);
      fill: var(--tag-status-banned-color);
    }
  }
  label {
    padding-left: 2px;
    color: var(--text-color);
  }
}
