@forward "app_header";
@forward "app";
@forward "components/input";
@forward "components/menu_item";
@forward "components/icon_button";
@forward "components/text_button";
@forward "components/toggle_switch";
@forward "components/table";
@forward "components/panel";
@forward "components/card";
@forward "components/collapse_panel";
@forward "components/breadcrumbs";
@forward "components/login";
@forward "components/sidebar";
@forward "components/preferences";
@forward "components/dashboard/action_card";
@forward "components/dashboard/status_card";
@forward "components/dashboard/dashboard_view";
@forward "components/dashboard/stats_view";
@forward "components/list_view";
@forward "components/userlist/userlist_view";
@forward "components/playlist/playlist_editor_view";
@forward "components/playlist/playlist_explorer_view";
@forward "components/playlist/playlist_explorer";
@forward "components/playlist/assistant/playlist_assistant";
@forward "components/reveal_content";
@forward "components/hide_content";
@forward "components/playlist/target/target_common";
@forward "components/playlist/target/target_watch";
@forward "components/playlist/target/target_options";
@forward "components/playlist/target/target_output";
@forward "components/playlist/target/xtream_output";
@forward "components/playlist/target/m3u_output";
@forward "components/playlist/target/strm_output";
@forward "components/playlist/target/hdhomerun_output";
@forward "components/playlist/target/target_table";
@forward "components/playlist/target/target_sort";
@forward "components/playlist/target/target_rename";
@forward "components/playlist/input/input_table";
@forward "components/playlist/input/input_type";
@forward "components/playlist/playlist_mappings";
@forward "components/playlist/playlist_processing";
@forward "components/playlist/source_selector";
@forward "components/playlist/playlist_update_view";
@forward "components/tag_list";
@forward "components/chip";
@forward "components/popup_menu";
@forward "components/dialog";
@forward "components/filter";
@forward "components/userlist/user_state";
@forward "components/userlist/proxy_type";
@forward "components/userlist/max_connections";
@forward "components/radio_button_group";
@forward "components/no_content";
@forward "components/search";
@forward "components/loading_indicator";
@forward "components/toastr";
