.tp__playlist-view  {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  flex: 1 1 auto;
  width: 100%;
  //max-width: var(--max-view-width);
  padding: var(--padding-default) 0;
  gap: var(--gap-default);
  overflow: hidden;

  &__body {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
  }
}

.tp__playlist-create,
.tp__playlist-list {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1 1 auto;
  width: 100%;
  //max-width: var(--max-view-width);
  gap: var(--gap-default);

  &__header {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
  }
}