.tp__config-view {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: var(--gap-default);
  padding: var(--padding-default) 0;
  box-sizing: border-box;
  &__header {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-flow: column;

    gap: var(--gap-default);
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%;
  }
}

.tp__config-field {
  display: flex;
  gap: var(--gap-default);
  box-sizing: border-box;
  //max-width: 400px;

  &__text {
    flex-flow: column;

    span {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: 1 1 auto;
      background-color: var(--input-background-color);
      color: var(--modest-text-color);
      padding: var(--padding-small) var(--padding-mini);
      min-height: 2.5rem;
      max-height: 2.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid var(--input-border-color);
      border-radius: var(--border-radius);
      box-sizing: border-box;
      white-space: nowrap;
    }
  }

  &__bool {
    flex-flow: row;
  }

  label {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    color: var(--text-color);
    font-size: 1.1rem;

    &:after {
      content: ":";
    }
  }
}