$config-grid-cell-width: 400px;
$config-max-grid-cells: 3;
$config-field-min-width: 200px;

.tp__config-view {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: var(--gap-default);
  padding: var(--padding-default) 0;
  box-sizing: border-box;
  overflow: hidden;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-default);
  }

  &__body {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    gap: var(--gap-default);
    box-sizing: border-box;
    width: 100%;

    .tp__card {
      overflow: hidden;
      gap: var(--gap-large);
    }
  }

  &__tags {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-default);
    height: 2.5rem;
    align-items: center;
  }

  &__card {
    gap: var(--gap-large);
    background-color: var(--table-alternate-background-color);
    overflow: hidden;
    h1 {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.tp__config-field {
  display: flex;
  gap: var(--gap-default);
  box-sizing: border-box;
  min-width: $config-field-min-width;

  &__text {
    flex-flow: column;
  }

  &__value {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: 1 1 auto;
      background-color: var(--input-background-color);
      color: var(--modest-text-color);
      padding: var(--padding-small) var(--padding-mini);
      min-height: 2.5rem;
      max-height: 2.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid var(--input-border-color);
      border-radius: var(--border-radius);
      box-sizing: border-box;
      white-space: nowrap;
  }

  &__bool {
    flex-flow: row;
    align-items: center;
  }

  label {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    color: var(--text-color);
    font-size: 1.1rem;
  }
}

.tp__config-view-page {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: var(--gap-default);
  padding: var(--padding-default) 0;
  box-sizing: border-box;
  overflow: auto;

  &__header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($config-grid-cell-width, 1fr));
    max-width: calc($config-max-grid-cells * $config-grid-cell-width + 2 * 1rem);
    gap: var(--gap-large);
    box-sizing: border-box;
    width: 100%;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($config-grid-cell-width, 1fr));
    max-width: calc($config-max-grid-cells * $config-grid-cell-width + 2 * 1rem);
    gap: var(--gap-large);
    box-sizing: border-box;
    width: 100%;
  }
}

.tp__schedules-config-view {
  &__schedule {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($config-grid-cell-width, 1fr));
    max-width: calc($config-max-grid-cells * $config-grid-cell-width + 2 * 1rem);
    gap: var(--gap-default);
    box-sizing: border-box;
    padding: var(--padding-default);
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius);
  }
  &__footer {
    margin-top: var(--margin-default);
    padding-top: var(--margin-default);
    border-top : 1px solid var(--card-border-color);
    svg {
      width: 240px;
      height: 60px;
    }
    fill: var(--label-color);
  }
}