.tp__chip.xtream,
.tp__chip.xtream_batch {
  color: var(--tag-alt-active-color);
  background-color: var(--tag-alt-active-background-color);
  border-color:  var(--tag-alt-active-border-color);
  white-space: nowrap;
}
.tp__chip.m3u_batch {
  white-space: nowrap;
}