$media-size-mobile: 600px;

@keyframes tp__pulse-bg {
  0% {
    background-color: var(--pulse-color-1);
  }
  50% {
    background-color: var(--pulse-color-2);
  }
  100% {
    background-color: transparent;
  }
}

.tp__pulse {
  animation: tp__pulse-bg 500ms ease-out;
}

.tp__error-text {
  color: var(--attention-color);
  font-size: 1rem;
}