$mobile-breakpoint: 780px;
$dashboard-mobile-breakpoint: 1280px;

$confirm-dialog-min-width: 300px;
$confirm-dialog-max-width: 500px;
$content-dialog-min-width: 400px;
$content-dialog-max-width: 800px;

