.tp__table {
  display: flex;
  flex-flow: column;
  gap: var(--gap-default);
  padding: var(--padding-default) 0;
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  overflow: hidden;

  &__container {
    display: flex;
    flex-flow: column;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          font-size: 1.1rem;
          font-weight: bold;
          text-align: center;
          padding: 0.875rem;
          background-color: var(--table-header-background-color);
        }
      }
    }
  }
}