:root {
  --max-view-width: 1280px;
  --max-table-cell-width: 240px;
  --max-dialog-card-height: 300px;
  --media-size-mobile: 600px;
  --app-header-height: 56px;
  --scrollbar-width: 8px;
  --scrollbar-border-radius: 4px;
  --gap-small: 0.3rem;
  --gap-default: 0.5rem;
  --gap-large: 1rem;
  --gap-larger: 1.5rem;

  --padding-micro: 0.2rem;
  --padding-mini: 0.5rem;
  --padding-small: 0.875rem;
  --padding-default: 1rem;
  --padding-large: 1.5rem;
  --padding-larger: 2rem;

  --primary-color: #124a9b;
  --secondary-color: #f67070;

  --action-item-background-color: #242427;
  --action-item-color: #ffffff;

  --text-color: #ffffff;
  --modest-text-color: #A1A1AAFF;
  --background-color: #09090B;
  --input-background-color: var(--action-item-background-color);
  --input-border-color: #454548;
  --input-focus-border-color: #12499a;
  --input-autofill-background-color: #323a48;
  --button-background-color: var(--primary-color);
  --border-color: #222224;
  --menu-text-color: #e2e2e5;
  --menu-icon-color: #707079;
  --menu-item-hover-background-color: var(--action-item-background-color);
  --menu-item-hover-color: var(--action-item-color);
  --menu-text-active-color: var(--primary-color);
  --menu-item-active-background-color: var(--menu-item-hover-background-color);
  --icon-button-hover-color: #8f8f97;
  --card-background-color: #18181b;
  --card-color: var(--modest-text-color);

  --text-button-background-color: var(--action-item-background-color);
  --text-button-color: #ffffff;
  --text-button-border-color: #2F2F31;
  --text-button-hover-color: #303032;
  --text-button-primary-background-color: var(--primary-color);
  --text-button-primary-color: #ffffff;
  --text-button-primary-hover-background-color: #2f68be;
  --text-button-primary-hover-color: #ffffff;
  --text-button-secondary-background-color: #e53d3d;
  --text-button-secondary-color: #ffffff;
  --text-button-secondary-hover-background-color: var(--secondary-color);
  --text-button-secondary-hover-color: #ffffff;

  --toggle-switch-on-background-color: #36c55a;
  --toggle-switch-off-background-color: #3f3f45;
  --toggle-switch-toggle-color: #fdfdfd;

  --table-header-background-color: #242427;
  --table-card-background-color: #242427;
  --table-alternate-background-color: #1b1b1e;

  --discord-color: #5764f0;
  --documentation-color: #2b944b;

  --app-header-background-color: #18181b;
  --app-header-color: #73d6fe;

  --pulse-color-1: #837f80;
  --pulse-color-2: #545454;

  --tag-padding:  0.3rem 0.5rem;
  --tag-border-radius: 0.5rem;
  --tag-border-color: #3a3a3a;
  --tag-color:  #e0e0e0;
  --tag-background-color:  #2c2f36;

  --tag-active-border-color: #2b6140;
  --tag-active-color: #49dc7f;
  --tag-active-background-color: #1e2d25;

  --tag-inactive-border-color: #555;
  --tag-inactive-color:  #6f6f6f;
  --tag-inactive-background-color:  #3a3a3a;


  --popup-background-color: #313133; //#18181b;
  --popup-shadow: 0 3px 8px #06070a;
  --popup-border-color: #2f2f31;
  --popup-color: #fff;
  //--popup-hover-background-color: #5599f0;
  //--popup-hover-color: #fff;

  --attention-color: #f67070;
  --warn-color: #b88e22;
  --active-color: #34d399;

  --output-xtream-color: #06b6d4;
  --output-m3u-color: #10b981;
  --output-hdhomerun-color: #6366f1;
  --output-strm-color: #f43f5e;


  --hint-color: #888888;
  --label-color: #73d6fe;

  --sidebar-toggle-color: #ffffff;
  --sidebar-toggle-hover-color: #47495d;
  --playlist-color: #aeb0b2;
  --hover-border-color: #aaaab0;
  --spinner-color: #ffffff66;
  --spinner-highlight-color: #5599f0;
  --tree-count-color: #7b7b7e;
  --tree-hover-background-color: #004db4;
  --tree-hover-color: white;
  --tree-expander-hover-color: white;
  --tool-button-background-color: #434343;
  --tool-button-color: #fff;
  --tool-button-hover-color: #ffffff;
  --tool-button-hover-background-color: #0c8a13;

  --toolbar-background-color: #282A36;
  --toolbar-button-hover-color: #ffffff;
  --toolbar-button-hover-background-color: #004db4;

  --ok-color: #21e821;

  --card-background-color-darker: #1c2026;
  --card-border-color: #47495d;

  --title-label-color: #6495b1;

  --border-radius: 8px;

  --icon-button-border-radius: 4px;
  --icon-button-background-color: var(--button-background-color);
  --icon-button-color: #ffffff;
  --icon-button-hover-background-color: #0d6efd;

  --icon-button-hover-border-color: #ced9fb;

  --menu-button-color: #fffff;
  --menu-button-background-color: #20273344;

  --menu-button-hover-color: #fffff;
  --menu-button-hover-background-color: #202733;

  --text-button-border-radius: var(--border-radius);
  --text-button-hover-background-color: #0d6efd;


  --scrollbar-track-color: #838383;
  --scrollbar-handle-color: #505050;

  --tabset-background-color: #44475a47; // #282A36;
  --tabset-border-color: #535353;
  --tab-background-color: #44475A;
  --tab-color: #fff;
  --tab-hover-background-color: #6272A4;
  --tab-hover-color: #50FA7B;
  --tab-avtive-indicator-color: #50FA7B;
  --tab-active-background-color: #54547a;
  --tab-active-color: #50FA7B;

  --table-border-color: #44475a;

  --checkbox-background-color: #44475A;
  --checkbox-hover-background-color: #006fee;
  --checkbox-checked-background-color: #006fee;
  --checkbox-border-radius: 4px;

  --option-active-background-color: #50FA7B;
  --option-active-color: #000;

  --shocase-card-background: #4b4b4b;

  --breadcrumbs-background-color: #202733;
  --breadcrumb-background-color: #4e545d;
  --breadcrumb-color: #c4c4c4;
  --breadcrumb-active-background-color: #4ad96e;
  --breadcrumb-active-color: #000;

  --menu-icon-color-update: #A3D8FF;
  --menu-icon-color-user: #0ABAB5;
  --menu-icon-color-api_server: #FF9D23;
  --menu-icon-color-main_config: #FF2DF1;
  --menu-icon-color-status: #F9E400;

  --toolbar-bg-color: #161b25;

}

body[data-theme="bright"] {

  --action-item-background-color: #e0e2e7;

  --text-color: #1a1a1a;
  --modest-text-color: #6b7280ff;
  --background-color: #f9fafb;
  --input-background-color: var(--action-item-background-color);
  --input-border-color: #cbd5e1;
  --input-focus-border-color: #2563eb;
  --input-autofill-background-color: #d1d5db;
  --button-background-color: #2563eb;
  --border-color: #d1d5db;
  --menu-text-color: #374151;
  --menu-icon-color: #9ca3af;
  --menu-item-hover-background-color: var(--action-item-background-color);
  --menu-text-active-color: #2563eb;
  --menu-item-active-background-color: var(--menu-item-hover-background-color);
  --icon-button-hover-color: #6b7280;
  --card-background-color: #ffffff;
  --card-color: var(--modest-text-color);

  --text-button-background-color: var(--action-item-background-color);
  --text-button-color: #1a1a1a;
  --text-button-border-color: #d1d5db;
  --text-button-hover-background-color: #e5e7eb;
  --text-button-primary-background-color: #2563eb;
  --text-button-primary-color: #ffffff;
  --text-button-primary-hover-background-color: #3b82f6;
  --text-button-primary-hover-color: #ffffff;

  --discord-color: #5865f2;
  --documentation-color: #22c55e;

  --app-header-background-color: #e0e7ff;
  --app-header-color: #2563eb;

}
