@use "theme";
@use "default";
@use "app/component";

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-content: stretch;
  align-items: stretch;

  input, textarea, select, button {
    font-family: inherit;
  }

  h1 {
    margin: var(--margin-mini) 0;
  }

}

#root {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
  background-color: inherit;
}
