.tp__chip {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-micro) var(--padding-mini);
  cursor: default;
  color: var(--tag-color);
  background-color: var(--tag-background-color);
  border: 1px solid var(--tag-border-color);
  border-radius: var(--tag-border-radius);

  &__label {

  }

  &__remove {
    margin-left: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--modest-text-color);
    &:hover {
      color: var(--menu-button-warn-hover-color);
    }
  }
}

.tp__chip.active {
  color: var(--tag-active-color);
  background-color: var(--tag-active-background-color);
  border-color:  var(--tag-active-border-color);
}

.tp__chip.inactive {
  color: var(--tag-inactive-color);
  background-color: var(--tag-inactive-background-color);
  border-color:  var(--tag-inactive-border-color);
}