dialog {
  --dialog-padding: var(--padding-larger);
  display: flex;
  flex-flow: column;
  gap: var(--gap-large);
  padding: var(--dialog-padding);
  background-color: var(--card-background-color);
  color: var(--card-color);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--popup-shadow);
  &::backdrop {
    background: var(--dialog-backdrop-color);
  }
  max-width: 80vw;
  max-height: 80vh;
  margin-top: 10%;
}

.tp__dialog {
  min-width: 300px;
  &__toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
