.tp__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--menu-icon-color);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  box-sizing: border-box;
  height: min-content;
  width: min-content;

  &:focus,
  &:hover {
    fill: var(--icon-button-hover-color);
    outline: none;
  }

  .svg-icon {
    pointer-events: none;
  }

  &__remove {
    fill: var(--menu-button-warn-color);
    &:hover {
      fill: var(--menu-button-warn-hover-color);
    }
  }
}

.tp__icon-button.tp__button-primary {
  background-color: var(--text-button-primary-background-color);
  color: var(--text-button-primary-color);
  fill : var(--text-button-primary-color);
  &:focus,
  &:hover {
    background-color: var(--text-button-primary-hover-background-color);
    color: var(--text-button-primary-hover-color);
    fill : var(--text-button-primary-hover-color);
    outline: none;
  }
}
.tp__icon-button.tp__button-secondary {
  background-color: var(--text-button-secondary-background-color);
  color: var(--text-button-secondary-color);
  fill : var(--text-button-secondary-color);
  &:focus,
  &:hover {
    background-color: var(--text-button-secondary-hover-background-color);
    color: var(--text-button-secondary-hover-color);
    fill : var(--text-button-secondary-hover-color);
    outline: none;
  }
}
.tp__icon-button.tp__button-active {
  background-color: var(--text-button-active-background-color);
  color: var(--text-button-active-color);
  fill : var(--text-button-active-color);
  &:focus,
  &:hover {
    background-color: var(--text-button-active-hover-background-color);
    color: var(--text-button-active-hover-color);
    fill : var(--text-button-active-hover-color);
    outline: none;
  }
}