.tp__input {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  box-sizing: border-box;
  gap: var(--gap-small);
  .tp__input-wrapper {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    align-items: center;

    &:focus-within {
      border-color: var(--input-focus-border-color);
    }

    .svg-icon {
      height: 2rem;
      width: 2rem;
    }

    .tp__icon-button {
      .svg-icon {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .tp__icon-button.active {
        color: var(--tag-active-color);
        fill: currentColor;
    }
  }
  label {
    padding-left: 2px;
    color: var(--modest-text-color);
    font-weight: bold;
    font-size: 1rem;
  }
}

textarea,
input {
  background-clip: content-box;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.5rem;
  border: none;
  color: var(--text-color);
  background-color: var(--input-background-color);
  padding: 6px 12px;
  flex: 1 1 auto;
  caret-color: var(--text-color) !important;

  &:focus,
  &:hover {
    outline: none;
    background-color: var(--input-background-color);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: none !important;
  caret-color: var(--text-color) !important;
}



body:not([data-theme="bright"]) input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.6) saturate(0) opacity(0.7);
}

body[data-theme="bright"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: none;
}

.tp__input-date {
}