@use "../../size";

.tp__login-view {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 40px 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  width: 400px;
  @media(max-width: size.$mobile-breakpoint) {
    width: 280px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 20%;
    height: 100%;
    filter: blur(20px);
    background: linear-gradient(
                    120deg,
                    rgba(255,255,255,0) 0%,
                    rgba(255,255,255,0.1) 50%,
                    rgba(255,255,255,0) 100%
    );
    transform: skewX(-30deg);
    animation: shine 2s;
  }

  @keyframes shine {
    0% { left: -75%; }
    100% { left: 125%; }  /* Move completely across */
  }

  &__header {
    display: flex;
    flex-flow: row;
    gap: var(--gap-default);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 8px;
    margin-bottom: 1rem;
    &-title {
      color: var(--text-color);
      padding: 8px;
      font-size: 1.5rem;
      font-weight: bolder;
    }
    &-logo {
      overflow: hidden;
      img, svg {
        height: 3rem;
        width: 3rem;
      }
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    svg {
      height: 100%;
      width: 100%;
      color: color-mix(in srgb, var(--background-color) 80%, black 10%);
    }
  }

  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--card-color);
    font-size: 0.8rem;
  }

  &__form {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 8px;
    fill: var(--modest-text-color);

    .tp__input-wrapper {
      max-height: 3rem;
      height: 3rem;
      border: 1px solid rgba(255, 255, 255, 0.15);
      background-color: rgba(0, 0, 0, 0.15);
      svg {
        transform: scale(0.8);
        padding-left: var(--padding-micro);
      }
    }

    &-action {
      display: flex;
      flex-flow: column;
      gap: 20px;
   }

    .tp__text-button {
      max-height: 3.2rem;
      height: 3.2rem;
    }
  }
}
