@use "../../size";

.tp__login-view {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 60px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);

  width: 400px;
  @media(max-width: size.$mobile-breakpoint) {
    width: 280px;
  }

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px 2px rgba(255, 255, 255, 0.1);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
                    90deg,
                    transparent,
                    rgba(255, 255, 255, 0.4),
                    transparent
    );
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.4),
                    transparent,
                    rgba(255, 255, 255, 0.3)
    );
  }

  &__header {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: transparent;
    padding: 0 8px;
    &-title {
      color: var(--card-color);
      padding: 8px;
      font-size: 1.5rem;
    }
    &-logo {
      overflow: hidden;
      img, svg {
        height: 4rem;
        width: 4rem;
      }
    }

  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    svg {
      height: 100%;
      width: 100%;
      color: color-mix(in srgb, var(--background-color) 80%, black 10%);
    }
  }

  &__form {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 8px;

    &-action {
      display: flex;
      flex-flow: column;
      gap: 20px;
      padding-top: 20px;
   }

    .tp__text-button {
      max-height: 3.2rem;
      height: 3.2rem;
    }
  }
}

.tp__background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;

  --c1: rgb(19 29 30);
  --c2: rgb(12 24 25 / 77%);

  background-color: var(--background-color);
  background-image:
          linear-gradient(30deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)),
          linear-gradient(150deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)),
          linear-gradient(30deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)),
          linear-gradient(150deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)),
          linear-gradient(60deg, var(--c2) 25%, transparent 25.5%, transparent 75%, var(--c2) 75%, var(--c2)),
          linear-gradient(60deg, var(--c2) 25%, transparent 25.5%, transparent 75%, var(--c2) 75%, var(--c2));
  background-size: 64px 112px;
  background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;

}
