.tp__no_content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-default);
  width: 100%;
  box-sizing: border-box;

  &__indicator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-default);
    background-color: var(--tag-background-color);
    color: var(--tag-color);
    fill: currentColor;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    .svg-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}