.tp__popup-menu {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: var(--popup-top);
  left: var(--popup-left);
  max-width: 24rem;
  max-width: min(24rem, calc(100vw - 1rem));
  max-height: 70vh;
  max-height: min(70vh, calc(100vh - 1rem));
  box-sizing: border-box;
  padding: var(--padding-mini);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--popup-background-color);
  color: var(--popup-color);
  box-shadow: var(--popup-shadow);
  overflow: hidden;
  z-index: var(--z-index-menu);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  &--match-anchor {
    width: var(--popup-anchor-width);
    max-width: calc(100vw - 1rem);
  }

  ul {
    margin: 0;
    padding: 0;
    max-height: inherit;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    overscroll-behavior: contain;
    list-style: none;
  }

  hr {
    border: none;
    height: 2px;
    background-color: var(--border-color);
  }
}

.tp__popup-menu.hidden {
  display: none !important;
}
