.tp__radio-button-group {
  display: flex;
  flex-flow: row nowrap;

  button:not(:first-child) {
    border-top-left-radius: 0  !important;
    border-bottom-left-radius: 0  !important;
    border-right: 0 !important;
  }
  button:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0  !important;
    border-left: 0 !important;
  }

}