.tp__source-editor {
   display: flex;
   flex-flow: row nowrap;
   box-sizing: border-box;
   width: 100%;
   height: 100%;

   &__sidebar {
      display: flex;
      flex-flow: column;
      box-sizing: border-box;
      height: 100%;
      gap: var(--gap-small);
   }

   &__canvas {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
   }

   &__brick {
      border: 1px solid var(--border-color);
      cursor: grab;
      padding: var(--padding-small) var(--padding-default);
   }

   &__block {
      width:100px;
      height:50px;
      border:1px solid var(--border-color);
      display:flex;
      align-items:center;
      justify-content:center;
      background-color:var(--card-background-color);
   }
}