.tp__tag_list {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-small);

  .tp__add-input {
    background-clip: content-box;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border: none;
    color: var(--text-color);
    background-color: var(--input-background-color);
    padding: 6px 12px;
    flex: 1 1 auto;
    caret-color: var(--text-color) !important;

    &:focus,
    &:hover {
      outline: none;
      background-color: var(--input-background-color);
    }
  }
}
