@use "../../../size";

.tp__dashboard {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  flex: 1 1 auto;
  width: 100%;
  max-width: var(--max-view-width);
  overflow: hidden;

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__body {
    display: flex;
    flex-flow: column;
    gap: var(--gap-larger);
    overflow: auto;

    &-actions {
      display: grid;
      grid-template-columns: var(--action-card-width) var(--action-card-width);
      gap: var(--gap-larger);

      @media (max-width: size.$dashboard-mobile-breakpoint) {
        grid-template-columns: var(--action-card-width);
      }

      .span-two {
        grid-column: span 2;
      }
    }

    &-stats {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--action-card-width), 1fr));
      gap: var(--gap-larger);
    }
  }

  .tp__discord {
    fill: var(--discord-color);
  }

  .tp__documentation {
    fill: var(--documentation-color);
  }

  .tp__github {
    fill: var(--github-color);
  }
}